In [94]:
import pandas as pd
from tkinter import *
import tkinter as tk
import tkinter.font as tkFont
from tkinter import filedialog, messagebox, ttk
from datetime import timedelta, datetime

jobs_test = [["Job 1-4", 4], ["Job 2-2", 2], ["Job 3-2", 2],["Job 4-8", 8], ["Job 5-2", 2]]

machines_list = ["XYZ", "TM-6", "TM8-2", "TM8-1", "VMX-30", "VMX-30-4", "VM-10", "VM10-2", "VMC-2", "VMC-1"]
days_list = [["Monday", 8], ["Tuesday", 8], ["Wednesday", 8], ["Thursday", 8],
                 ["Friday", 5], ["Saturday", 5], ["Sunday", 5]]

start_date = datetime.today() + timedelta(days=2)

class Slot():
    def __init__(self, avail_hours):
        self.avail_hours = avail_hours
        self.job = "{}H".format(self.avail_hours)




def create_week(machines_list, days_list, start_date):
    # create blank dataframe from days_list * slot numbers
    day_headers_list = []
    for day in days_list:
        day_headers_list.append(day[0])
    print("Created day header list: {}".format(day_headers_list))
    
    date_headers = []
    date = start_date
    for day in days_list:
        date_headers.append(date.strftime("%d %b %y"))
        date = date + timedelta(days=1)
    print("Created date header list: {}".format(date_headers))
   
    df_slots = pd.DataFrame(columns=day_headers_list)  # CREATE DATAFRAME AND ADD HEADERS
    df_slots.loc[0] = day_headers_list
    df_slots.loc[1] = date_headers

    for row in range(0, len(machines_list)):  # FOR EVERY MACHINE ROW...
        rows = []
        for day in days_list:
            #for col in range(0, len(day_headers_list)):   # FOR EVERY COLUMN ADD A "0"
            slot = Slot(day[1])
            rows.append(slot)
        df_length = len(df_slots)  # STORE LENGTH OF DATAFRAME IN df_length
        df_slots.loc[df_length] = rows  # ADD rows LIST CONTENTS TO EACH NEW DATAFRAME ROW

    machines_list.insert(0, "Date")
    machines_list.insert(0, "Day")
    #print("Machine list after insert: {}".format(df_cols_list))

    df_slots['Machines'] = machines_list  # ADD COLUMN WITH MACHINE NAMES
    df_slots = df_slots.set_index('Machines')
    # MAKE THE MACHINES COLUMN THE INDEX ROW
    # (TO ALLOW CALLING SPECIFIC ROW VIA MACHINE NAME

    # slots_final_list = df_slots.values.tolist()
    
    return df_slots

schedule_df = create_week(machines_list, days_list, start_date)
schedule_df

Created day header list: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
Created date header list: ['16 Mar 21', '17 Mar 21', '18 Mar 21', '19 Mar 21', '20 Mar 21', '21 Mar 21', '22 Mar 21']

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Machines,,,,,,,
Day,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Date,16 Mar 21,17 Mar 21,18 Mar 21,19 Mar 21,20 Mar 21,21 Mar 21,22 Mar 21
XYZ,<__main__.Slot object at 0x000002A3104FE850>,<__main__.Slot object at 0x000002A3104FEFD0>,<__main__.Slot object at 0x000002A300000430>,<__main__.Slot object at 0x000002A3000007F0>,<__main__.Slot object at 0x000002A3000C2280>,<__main__.Slot object at 0x000002A3000B9910>,<__main__.Slot object at 0x000002A3000B90A0>
TM-6,<__main__.Slot object at 0x000002A310810820>,<__main__.Slot object at 0x000002A3108101C0>,<__main__.Slot object at 0x000002A3000B91F0>,<__main__.Slot object at 0x000002A310541E50>,<__main__.Slot object at 0x000002A310541B50>,<__main__.Slot object at 0x000002A310541C10>,<__main__.Slot object at 0x000002A310541D90>
TM8-2,<__main__.Slot object at 0x000002A3109300D0>,<__main__.Slot object at 0x000002A310541BB0>,<__main__.Slot object at 0x000002A310541670>,<__main__.Slot object at 0x000002A310541E80>,<__main__.Slot object at 0x000002A310541FD0>,<__main__.Slot object at 0x000002A310541D00>,<__main__.Slot object at 0x000002A310541190>
TM8-1,<__main__.Slot object at 0x000002A310541E20>,<__main__.Slot object at 0x000002A300000910>,<__main__.Slot object at 0x000002A37FFCA6A0>,<__main__.Slot object at 0x000002A37FFCAC70>,<__main__.Slot object at 0x000002A37FFCA700>,<__main__.Slot object at 0x000002A37FFCA9D0>,<__main__.Slot object at 0x000002A37FFCA850>
VMX-30,<__main__.Slot object at 0x000002A3108109D0>,<__main__.Slot object at 0x000002A3000B5FA0>,<__main__.Slot object at 0x000002A3000B55B0>,<__main__.Slot object at 0x000002A3000B5700>,<__main__.Slot object at 0x000002A3000B5370>,<__main__.Slot object at 0x000002A310930B80>,<__main__.Slot object at 0x000002A310930C40>
VMX-30-4,<__main__.Slot object at 0x000002A3107FAF40>,<__main__.Slot object at 0x000002A3107FA460>,<__main__.Slot object at 0x000002A3107FAC10>,<__main__.Slot object at 0x000002A3107FA850>,<__main__.Slot object at 0x000002A3107FA2B0>,<__main__.Slot object at 0x000002A3107FA670>,<__main__.Slot object at 0x000002A3107FAD00>
VM-10,<__main__.Slot object at 0x000002A3107FAAC0>,<__main__.Slot object at 0x000002A3107FA4C0>,<__main__.Slot object at 0x000002A3107FA1C0>,<__main__.Slot object at 0x000002A3107FA790>,<__main__.Slot object at 0x000002A3107FAD30>,<__main__.Slot object at 0x000002A3107FAF10>,<__main__.Slot object at 0x000002A3107FA0D0>
VM10-2,<__main__.Slot object at 0x000002A3107FAE50>,<__main__.Slot object at 0x000002A3107FA4F0>,<__main__.Slot object at 0x000002A3107E9250>,<__main__.Slot object at 0x000002A3107E9610>,<__main__.Slot object at 0x000002A3107E9190>,<__main__.Slot object at 0x000002A3000B0CA0>,<__main__.Slot object at 0x000002A3000F45E0>
VMC-2,<__main__.Slot object at 0x000002A3000F4520>,<__main__.Slot object at 0x000002A3000F49D0>,<__main__.Slot object at 0x000002A3000F42E0>,<__main__.Slot object at 0x000002A3000F4EE0>,<__main__.Slot object at 0x000002A3000F43D0>,<__main__.Slot object at 0x000002A3000F4B50>,<__main__.Slot object at 0x000002A3000F4A90>
VMC-1,<__main__.Slot object at 0x000002A3000F4E80>,<__main__.Slot object at 0x000002A31079A190>,<__main__.Slot object at 0x000002A31079AB80>,<__main__.Slot object at 0x000002A31079AD60>,<__main__.Slot object at 0x000002A3107F1E80>,<__main__.Slot object at 0x000002A3107F12E0>,<__main__.Slot object at 0x000002A3107F1B80>

In [40]:
schedule_df['Monday']['XYZ'].job

'8H'

In [59]:
jobs_list= []
for machine in machines_list[2:]:
    day_jobs_list = []
    for day in days_list:
        #print("Current day: {}, current machine: {}".format(day[0], machine))
        day_jobs_list.append(schedule_df[day[0]][machine].job)
    #print("Day done: {}".format(day_jobs_list))
    jobs_list.append(day_jobs_list)
jobs_list

[['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H'],
 ['8H', '8H', '8H', '8H', '5H', '5H', '5H']]

In [76]:
new_df = schedule_df
list_row_ref = 0
for machine in machines_list[2:]:
    day_jobs_list = []
    list_col_ref=0
    for day in days_list:
        print("row {}, column {}, value: {}".format(list_row_ref, list_col_ref, jobs_list[list_row_ref][list_col_ref]))
        print("DF value: {}".format(new_df[day[0]][machine]))
        new_df.at[machine, day[0]] = jobs_list[list_row_ref][list_col_ref]
        print("New df value = {} ".format(new_df[day[0]][machine]))
        list_col_ref += 1
    list_row_ref += 1
    #print("Day done: {}".format(day_jobs_list))
    
new_df

row 0, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A3107E9C40>
New df value = 8H
row 0, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A3000D0310>
New df value = 8H
row 0, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A3104FEE50>
New df value = 8H
row 0, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A31079A880>
New df value = 8H
row 0, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A130>
New df value = 5H
row 0, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A31079ABE0>
New df value = 5H
row 0, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A1C0>
New df value = 5H
row 1, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A31079A340>
New df value = 8H
row 1, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A31079AB50>
New df value = 8H
row 1, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A31079A3D0>
New df value = 8H
row 1, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A31079AA60>
New df value = 8H
row 1, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A820>
New df value = 5H
row 1, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A790>
New df value = 5H
row 1, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A3A0>
New df value = 5H
row 2, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A310810070>
New df value = 8H
row 2, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A31079AA30>
New df value = 8H
row 2, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A31079A2E0>
New df value = 8H
row 2, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A31079A9D0>
New df value = 8H
row 2, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A520>
New df value = 5H
row 2, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A370>
New df value = 5H
row 2, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A31079AE50>
New df value = 5H
row 3, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A300000370>
New df value = 8H
row 3, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A3000D0490>
New df value = 8H
row 3, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A3000D0EB0>
New df value = 8H
row 3, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A31079A1F0>
New df value = 8H
row 3, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A460>
New df value = 5H
row 3, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A31079AC10>
New df value = 5H
row 3, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A31079A220>
New df value = 5H
row 4, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A31079AE20>
New df value = 8H
row 4, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A310541970>
New df value = 8H
row 4, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A310541430>
New df value = 8H
row 4, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A3105412B0>
New df value = 8H
row 4, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A310541B20>
New df value = 5H
row 4, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A310541400>
New df value = 5H
row 4, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A310541220>
New df value = 5H
row 5, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A310541AC0>
New df value = 8H
row 5, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A310541040>
New df value = 8H
row 5, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A310541820>
New df value = 8H
row 5, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A310541310>
New df value = 8H
row 5, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A3105411F0>
New df value = 5H
row 5, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A310541280>
New df value = 5H
row 5, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A310541910>
New df value = 5H
row 6, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A310541160>
New df value = 8H
row 6, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A310541BE0>
New df value = 8H
row 6, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A3105411C0>
New df value = 8H
row 6, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A310541610>
New df value = 8H
row 6, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A310541250>
New df value = 5H
row 6, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A310930880>
New df value = 5H
row 6, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A310930BB0>
New df value = 5H
row 7, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A3109308E0>
New df value = 8H
row 7, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A3109302E0>
New df value = 8H
row 7, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A310930C10>
New df value = 8H
row 7, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A310930940>
New df value = 8H
row 7, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A310930AF0>
New df value = 5H
row 7, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A310930370>
New df value = 5H
row 7, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A310930970>
New df value = 5H
row 8, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A310930610>
New df value = 8H
row 8, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A310930100>
New df value = 8H
row 8, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A310930A60>
New df value = 8H
row 8, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A310930400>
New df value = 8H
row 8, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A310930790>
New df value = 5H
row 8, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A310930070>
New df value = 5H
row 8, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A310930670>
New df value = 5H
row 9, column 0, value: 8H
DF value: <__main__.Slot object at 0x000002A310930F10>
New df value = 8H
row 9, column 1, value: 8H
DF value: <__main__.Slot object at 0x000002A3109302B0>
New df value = 8H
row 9, column 2, value: 8H
DF value: <__main__.Slot object at 0x000002A310930AC0>
New df value = 8H
row 9, column 3, value: 8H
DF value: <__main__.Slot object at 0x000002A310930A90>
New df value = 8H
row 9, column 4, value: 5H
DF value: <__main__.Slot object at 0x000002A310930F40>
New df value = 5H
row 9, column 5, value: 5H
DF value: <__main__.Slot object at 0x000002A310930BE0>
New df value = 5H
row 9, column 6, value: 5H
DF value: <__main__.Slot object at 0x000002A310930DF0>
New df value = 5H

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Machines,,,,,,,
Day,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Date,15 Mar 21,16 Mar 21,17 Mar 21,18 Mar 21,19 Mar 21,20 Mar 21,21 Mar 21
XYZ,8H,8H,8H,8H,5H,5H,5H
TM-6,8H,8H,8H,8H,5H,5H,5H
TM8-2,8H,8H,8H,8H,5H,5H,5H
TM8-1,8H,8H,8H,8H,5H,5H,5H
VMX-30,8H,8H,8H,8H,5H,5H,5H
VMX-30-4,8H,8H,8H,8H,5H,5H,5H
VM-10,8H,8H,8H,8H,5H,5H,5H
VM10-2,8H,8H,8H,8H,5H,5H,5H
VMC-2,8H,8H,8H,8H,5H,5H,5H
VMC-1,8H,8H,8H,8H,5H,5H,5H

In [77]:
new_df

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Machines,,,,,,,
Day,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
Date,15 Mar 21,16 Mar 21,17 Mar 21,18 Mar 21,19 Mar 21,20 Mar 21,21 Mar 21
XYZ,8H,8H,8H,8H,5H,5H,5H
TM-6,8H,8H,8H,8H,5H,5H,5H
TM8-2,8H,8H,8H,8H,5H,5H,5H
TM8-1,8H,8H,8H,8H,5H,5H,5H
VMX-30,8H,8H,8H,8H,5H,5H,5H
VMX-30-4,8H,8H,8H,8H,5H,5H,5H
VM-10,8H,8H,8H,8H,5H,5H,5H
VM10-2,8H,8H,8H,8H,5H,5H,5H
VMC-2,8H,8H,8H,8H,5H,5H,5H
VMC-1,8H,8H,8H,8H,5H,5H,5H

In [86]:
new_df.shape[1]

7

In [98]:
for x in range(schedule_df.shape[1]):
    print(schedule_df.loc['XYZ'][x].job)

8H
8H
8H
8H
5H
5H
5H

In [108]:
schedule_df.at['XYZ', ] = "hello"

In [109]:
schedule_df

,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,0,XYZ,WO ref
Machines,,,,,,,,,,
Day,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,NaN,NaN,NaN
Date,16 Mar 21,17 Mar 21,18 Mar 21,19 Mar 21,20 Mar 21,21 Mar 21,22 Mar 21,NaN,NaN,NaN
XYZ,hello,<__main__.Slot object at 0x000002A3104FEFD0>,<__main__.Slot object at 0x000002A300000430>,<__main__.Slot object at 0x000002A3000007F0>,<__main__.Slot object at 0x000002A3000C2280>,<__main__.Slot object at 0x000002A3000B9910>,<__main__.Slot object at 0x000002A3000B90A0>,hi,NaN,hello
TM-6,<__main__.Slot object at 0x000002A310810820>,<__main__.Slot object at 0x000002A3108101C0>,<__main__.Slot object at 0x000002A3000B91F0>,<__main__.Slot object at 0x000002A310541E50>,<__main__.Slot object at 0x000002A310541B50>,<__main__.Slot object at 0x000002A310541C10>,<__main__.Slot object at 0x000002A310541D90>,NaN,NaN,NaN
TM8-2,<__main__.Slot object at 0x000002A3109300D0>,<__main__.Slot object at 0x000002A310541BB0>,<__main__.Slot object at 0x000002A310541670>,<__main__.Slot object at 0x000002A310541E80>,<__main__.Slot object at 0x000002A310541FD0>,<__main__.Slot object at 0x000002A310541D00>,<__main__.Slot object at 0x000002A310541190>,NaN,NaN,NaN
TM8-1,<__main__.Slot object at 0x000002A310541E20>,<__main__.Slot object at 0x000002A300000910>,<__main__.Slot object at 0x000002A37FFCA6A0>,<__main__.Slot object at 0x000002A37FFCAC70>,<__main__.Slot object at 0x000002A37FFCA700>,<__main__.Slot object at 0x000002A37FFCA9D0>,<__main__.Slot object at 0x000002A37FFCA850>,NaN,NaN,NaN
VMX-30,<__main__.Slot object at 0x000002A3108109D0>,<__main__.Slot object at 0x000002A3000B5FA0>,<__main__.Slot object at 0x000002A3000B55B0>,<__main__.Slot object at 0x000002A3000B5700>,<__main__.Slot object at 0x000002A3000B5370>,<__main__.Slot object at 0x000002A310930B80>,<__main__.Slot object at 0x000002A310930C40>,NaN,NaN,NaN
VMX-30-4,<__main__.Slot object at 0x000002A3107FAF40>,<__main__.Slot object at 0x000002A3107FA460>,<__main__.Slot object at 0x000002A3107FAC10>,<__main__.Slot object at 0x000002A3107FA850>,<__main__.Slot object at 0x000002A3107FA2B0>,<__main__.Slot object at 0x000002A3107FA670>,<__main__.Slot object at 0x000002A3107FAD00>,NaN,NaN,NaN
VM-10,<__main__.Slot object at 0x000002A3107FAAC0>,<__main__.Slot object at 0x000002A3107FA4C0>,<__main__.Slot object at 0x000002A3107FA1C0>,<__main__.Slot object at 0x000002A3107FA790>,<__main__.Slot object at 0x000002A3107FAD30>,<__main__.Slot object at 0x000002A3107FAF10>,<__main__.Slot object at 0x000002A3107FA0D0>,NaN,NaN,NaN
VM10-2,<__main__.Slot object at 0x000002A3107FAE50>,<__main__.Slot object at 0x000002A3107FA4F0>,<__main__.Slot object at 0x000002A3107E9250>,<__main__.Slot object at 0x000002A3107E9610>,<__main__.Slot object at 0x000002A3107E9190>,<__main__.Slot object at 0x000002A3000B0CA0>,<__main__.Slot object at 0x000002A3000F45E0>,NaN,NaN,NaN
VMC-2,<__main__.Slot object at 0x000002A3000F4520>,<__main__.Slot object at 0x000002A3000F49D0>,<__main__.Slot object at 0x000002A3000F42E0>,<__main__.Slot object at 0x000002A3000F4EE0>,<__main__.Slot object at 0x000002A3000F43D0>,<__main__.Slot object at 0x000002A3000F4B50>,<__main__.Slot object at 0x000002A3000F4A90>,NaN,NaN,NaN
VMC-1,<__main__.Slot object at 0x000002A3000F4E80>,<__main__.Slot object at 0x000002A31079A190>,<__main__.Slot object at 0x000002A31079AB80>,<__main__.Slot object at 0x000002A31079AD60>,<__main__.Slot object at 0x000002A3107F1E80>,<__main__.Slot object at 0x000002A3107F12E0>,<__main__.Slot object at 0x000002A3107F1B80>,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hi,NaN